/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

html {
  scroll-behavior: smooth;
}

.Background-Container {
  background: linear-gradient(to bottom, #000000, #2d004d);
  height: 100%;
}

.Logo {
  height: 130px;
}

.nav-item {
  font-size: 16px;
}

.Main-Heading {
  font-size: 100px;
  color: #ffffff;
  font-family: "Gabarito";
  font-weight: bold;
}

#sectionHome {
  height: 100vh;
}

.Side-Heading {
  font-family: "Gabarito";
  font-weight: 500;
  font-size: 44px;
  color: #ffffff;
}

#sectionAbout{
  height:100vh;
}

.About-Text {
  font-family: "Gabarito";
  font-size: 18px;
  color: #ffffff;
}

.About-Card {
  border-style: solid;
  border-width:2px;
  border-color:#ffffff;
  border-radius:12px;
}
.About-Heading{
  font-family:"Gabarito";
  font-size:26px;
  font-weight:bold;
  color:#ffffff;
  color:#ffffff;
}

#sectionStructure{
  height:100vh;
}